@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
  background-image: url('../../public/THE-ONE-WE-NEED-YIPPPEEEEEopac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
